.MainPage{
    display:flex;
    flex-direction: column;
    min-height: 100%;
    
}
.topHeader{
    
    background-color: rgb(23, 130, 196);
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 99999;
}
.middleBody{
}
.bottomFooter{
    
    background-color: rgb(88, 168, 168);
    opacity: 0.5;
    height: 40px;
    width: 100%;
    bottom: 0px;
    position: fixed;
    z-index: 99999;
}