.MainPageMenuView{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    
    /* height: 50px; */
}
.DocNameTag{
    
    line-height: 50px;
    font-size: x-large;
    width: 33%;
    text-align: center;
}
.PageNumberIndicator{
    line-height: 50px;
    width: 34%;
    text-align: center;
    font-size: x-large;
}

.pageNumberInputBox{
    width: 20px;
    background-color: rgb(23, 130, 196);
    font-size: x-large;
    margin: 0px;
    padding: 0px;
    text-align: right;
    
}

.MainPageMenuViewButtonGroup{
    /* line-height: 50px; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 33%;
    
}

.buttonRotate{
    /* background-color: rgb(23, 130, 196);
    border: 0px;
    outline: 0px; */
    /* fontSize: 30px; */
}
.buttonDownload{

}
.buttonEdit{

}

*{
    user-select: none;
}