.MainPage{
    display:flex;
    flex-direction: column;
    height: calc(100vh);
}
.topHeader{
    
    background-color: rgb(110, 110, 110);
    height: 50px;
    width: 100%;
}
.middleBody{
   
    background-color: rgb(170, 200, 224);
    height: calc(100% - 90px);
    width: 100%;
}
.bottomFooter{
    
    background-color: rgb(88, 168, 168);
    height: 40px;
    width: 100%;
}